<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8021.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="53D1D44356B82CBA28247F57DEC1FC1283EF1C8F0757BAB60AE61D7D3F92F9F57362E8EEEB898068CCBF756F05FDA0DF3254FE0F4385C88FF1BA0FCA44228711" decryptionKey="ED3DDE0F8445C992EA5E5994283D88B9B0213E9629E5C1E7A95A8ADC81D26DAC" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="DD978626148508E41DADCCF90B122AA587BEACC1DD3B969E271B5A1BAC4136DA" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="DD978626148508E41DADCCF90B122AA587BEACC1DD3B969E271B5A1BAC4136DA" realm="http://localhost" />
	</relyingParties>
</securityConfig>