<?xml version="1.0" encoding="utf-8"?>
<webSecurityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8021.0">
	<httpSecurityHeaders>
		<responseHeaders>
			<add name="Content-Security-Policy" config:flags="1">
				<directives>
					<add name="script-src" config:flags="1">
						<values>
							<add value="https://code.jquery.com" />
							<add value="https://cdn.jsdelivr.net" />
						</values>
					</add>
					<add name="style-src" config:flags="1">
						<values>
							<add value="https://cdnjs.cloudflare.com" />
							<add value="https://cdn.jsdelivr.net" />
						</values>
					</add>
					<add name="font-src" config:flags="1">
						<values>
							<add value="https://cdn.jsdelivr.net" />
							<add value="https://cdnjs.cloudflare.com" />
						</values>
					</add>
				</directives>
			</add>
		</responseHeaders>
	</httpSecurityHeaders>
</webSecurityConfig>