@model ApexWeb.Mvc.Models.ContactInfoModel

@if (!String.IsNullOrWhiteSpace(Model.Title))
{
    <h4 class="text-light mb-4">@Model.Title</h4>
}
@if (!String.IsNullOrWhiteSpace(Model.Address))
{
    <p>
        <i class="fa fa-map-marker-alt me-3"></i>@Model.Address
    </p>
}
@if (!String.IsNullOrWhiteSpace(Model.PhoneNumber))
{
    <p><i class="fa fa-phone-alt me-3"></i>@Model.PhoneNumber</p>
}
@if (!String.IsNullOrWhiteSpace(Model.Email))
{
    <p><i class="fa fa-envelope me-3"></i>@Model.Email</p>
}