@model ApexWeb.Mvc.Models.SocialLinksModel

<div class="d-flex pt-2">
    <a class="btn btn-square btn-outline-primary me-1" href="@Model.TwitterUrl">
        <i class="fab fa-twitter"></i>
    </a>
    <a class="btn btn-square btn-outline-primary me-1" href="@Model.FacebookUrl">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn btn-square btn-outline-primary me-1" href="@Model.YouTubeUrl">
        <i class="fab fa-youtube"></i>
    </a>
    <a class="btn btn-square btn-outline-primary me-0" href="@Model.LinkedInUrl">
        <i class="fab fa-linkedin-in"></i>
    </a>
</div>