@model ApexWeb.Mvc.Models.SocialLinksModel

<div class="h-100 d-inline-flex align-items-center">
    <a class="btn btn-square border-end border-start" href="@Model.FacebookUrl">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn btn-square border-end" href="@Model.TwitterUrl">
        <i class="fab fa-twitter"></i>
    </a>
    <a class="btn btn-square border-end" href="@Model.LinkedInUrl">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a class="btn btn-square border-end" href="@Model.InstagramUrl">
        <i class="fab fa-instagram"></i>
    </a>
</div>